LOG="log.log"
VIHOST="0.0.0.0"
VIUSER="administrator@vcenter.local"
VIPASSWORD="PASSWORD"
ESXHOST="0.0.0.0"
ESXUSER="root"
ESXPASSWORD="PASSWORD"
VMFOLDER="export2neokarm"
SYMPIP="0.0.0.0"
SYMPTENANT="cloud_admin"
SYMPUSER="admin"
SYMPPASS="PASSWORD"
SYMPPROJECT="forvms" 
SYMPPOOLNAME="test-pool"
TAG="import1"
NETWORK="00000000-0000-0000-0000-000000000000"
