VSPHERE_HOST="0.0.0.0"
VSPHERE_USER="administrator@vcenter.local"
VSPHERE_PASSWORD="PASSWORD"
ESX_HOST="0.0.0.0"
ESX_USER="root"
ESX_PASSWORD="PASSWORD"
ZCOMPUTE_IP="0.0.0.0"
ZCOMPUTE_ACCOUNT="cloud_company"
ZCOMPUTE_USER="admin"
ZCOMPUTE_PASS="PASSWORD"
ZCOMPUTE_MFA_SECRET=None # Only for MFA users, used along with password instead of OTP, shouldn't use a personal user.
ZCOMPUTE_PROJECT="customer_name" 
ZCOMPUTE_STORAGE_POOL="test-pool"
ZCOMPUTE_IMPORTER_TAG="import1" # This machine
SSL=True
PORT=None