VIHOST="0.0.0.0"
VIUSER="administrator@vcenter.local"
VIPASSWORD="PASSWORD"
ESXHOST="0.0.0.0"
ESXUSER="root"
ESXPASSWORD="PASSWORD"
SYMPIP="0.0.0.0"
SYMPTENANT="cloud_admin"
SYMPUSER="admin"
SYMPPASS="PASSWORD"
SYMPPROJECT="--project forvms " 
SYMPPOOLNAME="test-pool"
NFSPATH="/mnt/nfs"
TAG="import1"
NETWORK="00000000-0000-0000-0000-000000000000"
