# Logger
LOG="$(pwd)//migration.log"
TLOG="tee -a $LOG"

# Converter
HYPERV_IMPORTER_VMS_PATH="/home/centos/ExportVMs"
CONVERTED_VOLUMES_PATH="/home/centos/converted"

# Importer
NEOKARM_IMPORTER_IP='10.0.0.2'
NEOKARM_IMPORTER_VOLUMES_PATH="/home/$USER/hypervvolumes"
NEOKARM_HYPERV_REMOTE_PATH="/home/$USER/hypervconverted"
HYPERV_IMPORTER_IP='10.0.0.3'
HYPERV_IMPORTER_USER='centos'
HYPERV_IMPORTER_PEM="/home/$USER/pem.pem"
HYPERV_IMPORTER_CONVERTED_PATH="/home/$HYPERV_IMPORTER_USER/converted"
NEOKARM_IMPORTER_VM_NAME="neokarm-importer"

# Symp
SYMPIP='10.0.0.1'
SYMPTENANT='cloud_person'
SYMPUSER='importer'
SYMPPASS='****'
SYMPPROJECT='--project v2v'
SYMPPOOLNAME='test-pool'
